/*CSS DOCUMENT*/

@import url("https://use.typekit.net/zcv3piw.css");
img {
	width: 100%;
	max-width: 20em;
	display: block;
	margin: 1em auto;
}

.logo img {
	width: 100%;
	max-width: 20em;
	margin: 0em;
}

body {
	background-color: rgb(220, 220, 220);
}

h1 {
	font-family: transat-text, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 2em;
	margin: 1.3em 0em .5em 0em;
	text-align: center;
}

h3 {
	margin: 2em 0em 0em 2%;
	font-family: transat-text, sans-serif;
	font-weight: 500;
	font-style: normal;
	color: rgb(50, 50, 50);
	margin: 2em 0 0em 0;
	font-size: 1.8em;
}

h4 {
	font-family: transat-text, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-weight: 700;
	color: rgb(160, 20, 20);
	font-size: 1.1em;
	margin: 1.5em auto 0em auto;
}

h5 {
	font-family: transat-text, sans-serif;
	font-weight: 300;
	font-size: .8em;
}

p {
	font-family: transat-text, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1em;
	max-width: 30em;
	margin: 0em auto 0em 0em;
}

.menu p {
	color: rgb(80, 80, 0);
}

ul,
ol {
	padding: 0;
	margin: 0;
}

nav ul {
	padding: 0em;
	margin: auto;
}

nav ul li {
	list-style: none;
	font-family: transat-text, sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	font-style: normal;
	display: inline;
	margin-right: .6em;
}

li.selected {
	font-weight: 500;
}

nav ul li a {
	text-decoration: none;
	color: rgb(145, 180, 100);
}

div.container {
	background-color: rgb(255, 255, 255);
	margin: 0 auto;
	max-width: 55em;
	padding: 1em 2em 2em 2em;
}

footer {
	clear: both;
	display: block;
	color: rgb(220, 220, 220);
	padding-top: 2em;
}

@media only screen and (min-width: 45em) {
	div.block {
		width: 45%;
		float: left;
		margin-right: 1em;
		display: flex;
		align-items: center;
	}
	.block p {
		margin-left: 0;
		margin-top: 0;
	}
	div.container {
		width: auto;
		padding: 1em 5em 2em 5em;
	}
	img {
		width: 100%;
		max-width: 35em;
		display: block;
		margin: 1em auto;
	}
}

.menu .price {
	font-weight: 500;
	font-style: italic;
	color: rgb(80, 80, 0);
}

.menu li {
	list-style: none;
}
